.about_content {
    background-image: url(../img/about_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 619px;
    text-align: center;
}

.about_container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 0.1px 30px;
}

.about_text {
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    margin:73px 0 0 0;
}

.about_title {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 17px auto 0 auto;
}

.about_description {
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    margin: 17px auto 0 auto;
}

.about_buttons {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    margin-bottom: 146px;
}

.about_button {
    display: block;
    border-radius: 30px;
    text-align: center;
    width: 236px;
    color: #FFFFFF;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding: 16px;
}

.about_button:first-child {
    background: var(--orangeColor);
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    margin-right: 34px;
}

.about_button:last-child {
    border: 1px solid #FFFFFF;
}

.about_pictures_wrapper {
    margin: -70px auto 0 auto;
    padding-bottom: 129px;
    display: flex;
    justify-content: center;
}

.about_pictures_img {
    width: 30%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative; 
}

.about_pictures_img:first-child {
    z-index: 1;
    top: -85px;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

.about_pictures_img:last-child {
    left: -27px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* @media screen and (max-width: 992px) {
} */

@media screen and (max-width: 900px) {
    .about_pictures_img:first-child {
        top: -54px;
    }
}

@media screen and (max-width: 768px) {
    .about_content {
        background: none;
    }

    .about_text {
        color: #737373;
    }

    .about_title {
        color: #252B42;
    }

    .about_description {
        color: #737373;
    }

    .about_button:last-child {
        border: 1px solid #FA4A0C;
        color: #FA4A0C;
    }
    
    .about_pictures_wrapper {
        margin: -60px auto 0 auto;
    }

    .about_pictures_img {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .about_title {
        font-size: 44px;
    }

    .about_pictures_wrapper {
        margin: -80px auto 0 auto;
    }

    .about_pictures_img {
        width: 50%;
    }

    .about_pictures_img:first-child {
        top: -37px;
    }

    .about_buttons {
        flex-direction: column;
        align-items: center;
    }

    .about_button:first-child {
        margin: 0 0 17px 0;
    }

}

@media screen and (max-width: 411px) {
    .about_content {
        min-height: auto;
    }

    .about_text {
        line-height: 24px;
        margin-top: 50px;
    }

    .about_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        line-height: 42px;
        
    }

    .about_pictures_wrapper {
        margin: 40px auto 0 auto;
    }

    .about_pictures_img {
        width: 55%;
    }

    .about_pictures_img:first-child {
        top: -32px;
    }

    .about_pictures_img:last-child {
        left: -16px;
    }

    .about_description {
        font-size: 24px;
    }

    .about_buttons {
        margin-top: 50px;
        margin-bottom: 22px;
    }

    .about_button {
        font-size: 24px;
        color: #FFFFFF;
    }
}