*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

:root {
    --main-text-color: #ffffff;
    --first-auxiliary-text-color: #F7F7F7;
    --second-auxiliary-text-color: #252B42;
    --third-auxiliary-text-color:#737373;
    --main-background-color: #FA4A0C;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.overflow_protection {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex_space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.text {
    line-height: 36px;
    letter-spacing: 0.1px;
}

.text_description {
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
}

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
}