.download {
    background-image: url(../img/download_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 516px;
    text-align: center;
    padding: 140px 20px 130px 20px;
}

.download_container {
    max-width: 860px;
    margin: 0 auto;
}

.download_title {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px auto 20px auto;
}

.download_text {
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px auto 60px auto;
}

.download_title,
.download_text {
    max-width: 860px;
}

.download_buttons {
    display: flex;
    justify-content: center;
}

.download_button {
    display: block;
    padding: 18px 31px;
    width: 176px;
    background: var(--orangeColor);
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.download_button:last-child {
    padding: 16px 45px;
    margin-left: 16px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

@media screen and (max-width: 411px) {
    .download {
        background: #252B42;
        padding-top: 120px;
        padding-bottom: 110px;
    }

    .download_text {
        font-size: 24px;
        width: 245px;
    }
}

@media screen and (max-width: 320px) {
    .download_buttons {
        flex-wrap: wrap;
    }

    .download_button:last-child {
        margin-top: 17px;
        margin-left: 0;
    }
} 