.download {
    background-image: url(../img/download_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 140px 0 130px 0;
}

.download_container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 20px;
}

.download_title {
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.download_text {
    font-size: 24px;
    color: var(--main-text-color);
    margin-bottom: 60px;
}

.download_button {
    display: block;
    padding: 18px 31px;
    width: 176px;
    background: var(--main-background-color);
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    margin-right: 16px;
}

.download_button:last-child {
    padding: 16px 45px;
    margin-right: 0;
    border: 1px solid var(--main-text-color);
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .download {
        background: #252B42;
        padding-top: 120px;
        padding-bottom: 110px;
    }
}

@media screen and (max-width: 407px) {
    .download_buttons {
        flex-direction: column;
        align-items: center;
    }

    .download_button:first-child {
        margin: 0 0 17px 0;
    }
} 