.footer {
    padding: 47px 0;
}

.footer_container {
    max-width: 1212px;
    padding: 0 64px;
    margin: 0 auto;
}

.footer_social_list {
    list-style-type: none;
}

.footer_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    max-width: 210px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 60px 0 45px 0;
    }
    
    .footer_link {
        display: none;
    }

    .footer_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer_social {
        margin-bottom: 8px;
    }

    .footer_text {
        max-width: 234px;
    }
}
