.footer {
    padding: 19px 183px;
}

.footer_container {
    max-width: 1083px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer_social_list {
    list-style-type: none;
}

.footer_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5C5C5C;
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 19px 100px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 19px 60px;
    }

    .footer_link {
        display: none;
    }

    .footer_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_social {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 411px) {
    .footer {
        padding: 60px 0 45px 0;
    } 
}