.header {
    padding: 26px 0 28px 0;
}

.header_link {
    display: block;
}

.header_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header_container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 40px 0 70px;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {
    border: none;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 0 44px 0;
    }
    .header_container {
        padding: 0 16px 0 25px;
    }
}

@media screen and (max-width: 411px) {
    .header_link {
        width: 104px;
        height: 52px;
    }
}