.header {
    padding: 26px 0;
}

.header_link_wrapper {
    height: 102px;
    width: 246px;
}

.header_link {
    display: block;
    width: 100%;
    height: 100%;
}

.header_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header_container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 40px 0 70px;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .header_container {
        padding: 0 16px 0 25px;
    }
    
    .header_link_wrapper {
        width: 104px;
        height: 52px;
    }
}
