.header {
    padding: 26px 40px 28px 70px;
}

.header_container {
    max-width: 1330px;
    margin: 0 auto;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {
    border: none;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 16px 44px 25px;
    }
}

@media screen and (max-width: 411px) {
    .header_image {
        width: 104px;
        height: 52px;
    }
}