@media screen and (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .about_pictures_img {
        bottom: 35px;
    }

    .footer {
        padding: 19px 100px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .about_pictures_img {
        bottom: 92px;
    }

    .footer {
        padding: 19px 60px;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 500px;
    }

    .about_buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .about_button:first-child {
        margin: 0px 0px 17px 0px;
    }
    

    .app_description_content_wrapper_top {
        margin-left: 50px;
    }
    
    .app_description_content_wrapper_bottom {
        margin-right: 50px;
    }

    .download_title,
    .download_text {
        max-width: 500px;
    }
    
    .footer {
        justify-content: center;
    }

    /* .footer_link,
    .footer_text {
        display: none;
    } */
}

@media screen and (max-width: 411px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 391px;
    }

    .header {
        padding: 17px 16px 44px 25px;
    }

    .header_image {
        width: 104px;
        height: 52px;
    }

    .about_content {
        background: none;
        padding-top: 50px;
        padding-bottom: 22px;
        min-height: auto;
    }

    .about_text {
        line-height: 24px;
        color: #737373;
    }

    .about_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #252B42;
    }

    .about_description {
        font-size: 24px;
        color: #737373;
    }

    .about_pictures_img {
        max-width: 380px;
        bottom: 136px;
    }

    .about_buttons {
        margin-top: 50px;
    }

    .about_button {
        font-size: 24px;
        color: #FFFFFF;
    }

    .about_button:last-child {
        border: 1px solid #FA4A0C;
        color: #FA4A0C;
    }

    .app_description {
        padding-top: 0;
        padding-bottom: 93px;
    }

    .app_description_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        padding-bottom: 50px;
        margin-bottom: 65px;
    }

    .app_description::before {
        top: 85px;
        width: 100%;
    }

    .app_description_flex {
        flex-direction: column;
        align-items: center;
    }

    .app_description_img_wrapper_top {
        order: 1;
    }

    .app_description_content_wrapper_top {
        order: 0;
        margin-left: 0;
    }
    .app_description_content_wrapper_bottom {
        margin-right: 0;
    }

    .app_description_img_wrapper_top,
    .app_description_img_wrapper_bottom {
        width: 317px;
    }

    .app_description_text {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    .app_description_instruction {
        text-align: center;
        margin-bottom: 40px;
    }

    .app_description_details {
        font-size: 24px;
        text-align: center;
        margin-bottom: 17px;
    }

    .app_description_flex + .app_description_flex {
        margin-top: 90px;
    }

    .download {
        background: #252B42;
        padding-top: 120px;
        padding-bottom: 110px;
    }

    .download_title {
        width: 310px;
    }

    .download_text {
        font-size: 24px;
        width: 245px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 60px 0 45px 0;
    }

    .footer_social {
        margin-bottom: 8px;
    }

    .footer_link {
        display: none;
    }
}

@media screen and (max-width: 320px) {

}