@media screen and (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .about_pictures_img {
        bottom: 35px;
    }

    .footer {
        padding: 19px 100px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .about_pictures_img {
        bottom: 92px;
    }

    .footer {
        padding: 19px 60px;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 500px;
    }

    .app_description_content_wrapper_top {
        margin-left: 50px;
    }
    
    .app_description_content_wrapper_bottom {
        margin-right: 50px;
    }

    .download_title,
    .download_text {
        max-width: 500px;
    }
    
    .footer {
        justify-content: center;
    }

    .footer_link,
    .footer_text {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    
}