@import url(header.css);
@import url(about.css);
@import url(app_description.css);
@import url(download.css);
@import url(footer.css);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

:root {
    --orangeColor:#FA4A0C;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.overflow_protection {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
}

